name: Deploy Backend

on:
  push:
    branches: [ "master", "main" ]
    paths:
      - 'server/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./server
          push: true
          # ICI : On écrit tout en minuscules manuellement
          tags: ghcr.io/gartalgart/smartrevision-backend:latest

  deploy-to-vps:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd smartrevision-db
            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            # On s'assure que l'image dans docker-compose correspond bien à ghcr.io/gartalgart/smartrevision-backend:latest
            docker compose pull api
            docker compose up -d
